@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: color.scale(#676778, $whiteness: -20%),
  $secondary: color.scale(#1976d2, $whiteness: -20%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

:root {
  --mdc-text-button-label-text-color: rgba(255, 255, 255, 0.87);
  --mdc-text-button-hover-state-layer-color: #fff;
  --mdc-switch-handle-surface-color: #a1a1a1;
  --mdc-switch-unselected-hover-handle-color: #a1a1a1;
  --mdc-switch-unselected-pressed-handle-color: #a1a1a1;
}
html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: rgba(164.8, 164.8, 240, .87) !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(164.8, 164.8, 240, .87) !important;
}
.toolbar {
  background-color: var(--bs-gray-600);
  color: rgba(255, 255, 255, .87);
}
.toolbar--row {
  background-color: var(--bs-gray-700);
}
.point-slot {
  border: thin solid rgba(131,131,134,1);
}
.mdc-dialog .mdc-dialog__scrim {
  background-color: rgba(0,0,0,.32) !important;
}
.smui-chip-input {
  background-color: rgb(41.88, 41.88, 45.72);
}
.music-player {
  background-color: theme.$surface !important;
  color: theme.$on-surface !important;
}
.music-player--button {
  color: theme.$on-surface !important;
}
.create-box {
  background-color: var(--bs-gray-700);
  color: rgba(255, 255, 255, .7);
  border: 2px rgba(255, 255, 255, .4) dashed;
}
.create-box:hover {
  background-color: var(--bs-gray-600);
}
.create-box:active {
  background-color: var(--bs-gray-500);
}
.text-input {
  color: var(--bs-gray-800);
}
.title--text {
  color : rgba(255, 255, 255, .87);
}
input, textarea {
  caret-color: #ccc !important;
}
.tiptap-wrapper {
  background-color: rgb(41.88, 41.88, 45.72);
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
  color: rgba(255, 255, 255, 0.87);
}
.tiptap-wrapper:not(.tiptap-wrapper--focused):hover {
  background-color: rgb(57, 57, 61);
  border-bottom: 1px solid rgba(255, 255, 255, 0.87)
}
.tiptap-wrapper--focused {
  background-color: rgb(86, 86, 89);
  border-bottom: 1px solid rgb(82.4, 82.4, 120);
}
.tiptap-headmenu {
  background-color: rgb(41.88, 41.88, 45.72);
  color: rgba(255, 255, 255, .87);
}
.tiptap-submenu {
  background-color: rgb(41.88, 41.88, 45.72);
  color: rgba(255, 255, 255, 0.6);
}